<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск в базе данных ФИАС</title>
</head>
<body>
<div class="pg-trgm">
    <fieldset>
        <legend>Поиск в базе данных</legend>
        <form th:action="@{/search/pg-trgm}" method="get">
            <label for="pg-trgm-search">
                <input type="text" id="pg-trgm-search" name="pgTrgmAddressDescription"
                       th:value="${addressDescription}" placeholder="Введите адрес" size="50">
            </label>
            <button type="submit" class="search-btn">Найти</button>
        </form>
    </fieldset>
    <div class="search_result" th:each="address : ${pgTrgmAddressList}">
        <span th:text="${address.objectType} + '. ' + ${address.objectName}"></span>
    </div>
</div>
</body>
</html>