<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск в базе данных ФИАС</title>
</head>
<body>
<fieldset>
    <legend>Поиск в базе данных ФИАС</legend>
    <form th:action="@{/search}" method="get">
        <label for="search">
            <input type="text" id="search" name="addressDescription" th:value="${addressDescription}" placeholder="Введите адрес"
                   size="50">
        </label>
        <button type="submit" class="search_btn">Найти</button>
    </form>
</fieldset>
<div class="search_result" th:each="list : ${addressList}" th:field="${list}">
<!--    <span th:text="${list.typeName} + ' ' + ${list.name} + ' ' + ${list.objectID} + ' ' + ${list.objectGUID}"></span>-->
        <span th:text="${list.typeName} + ' ' + ${list.name}"></span>
</div>
</body>
</html>